:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

main {
  height: 100dvh;
  padding: 2rem;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
}
